<div class="w3PostComments">

    <div id="comments" class="comments-area">

        @*@await Html.PartialAsync("~/Views/Comment/BlogDetailsListComment.cshtml")*@

        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">Yorum Yap</h3>
            <form action="/Comment/BlogDetailsAddComment/" method="post" id="commentform" class="comment-form" novalidate="">
                <p class="comment-form-comment">
                    <label for="comment">Yorum</label> 
                    <textarea id="comment" name="CommentContent" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                </p>
                <p class="comment-form-author">
                    <label for="author">Ad Soyad</label> 
                    <input name="CommentUsername" type="text">
                </p>
                <p class="comment-form-email">
                    <label for="email">E-mail</label> 
                    <input name="CommentEmail" type="email">
                </p>
                <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit" value="Yorumu Gönder"> 
                </p>
            </form>
        </div><!-- #respond -->

    </div><!-- #comments -->
</div>