<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="index.html">Anasayfa</a>
    </li>
    <li class="nav-item dropdown @@category__active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kategoriler <span class="fa fa-angle-down"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item @@ls__active" href="lifestyle.html">Lifestyle posts</a>
            <a class="dropdown-item @@cp__active" href="culture.html">Culture posts</a>
        </div>
    </li>
    <li class="nav-item @@contact__active">
        <a class="nav-link" href="contact.html">İletişim</a>
    </li>
</ul>
